html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* Nav Bars */
header {
	margin: 0 auto;
	width: 100%;
	display: flex;
	align-items: center;
	top: 0;
	height: 70px;
	background-color: #dfdfdf;
}

.nav-logo {
	padding-top: 5px;
	height: 36px;
	margin-left: 10rem;
}

.nav-bar-list {
	list-style: none;
	position: relative;
	display: inline-flex;
	margin-left: 30rem;
	justify-content: space-around;
}

.nav-link {
	display: block;
	padding: 20px;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}
